.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1em 0;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    padding: 0.5em 1em;

    .logo {
      cursor: pointer;
    }
  }

  .menu {
    width: 80%;
  }
}
